/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
  }
  
  h1, h2, h3 {
    margin-top: 0;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ol, ul {
    margin: 0 0 20px 20px;
  }
  
  a {
    color: #337ab7;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Specific Styles */
  .mt-5 {
    margin-top: 5px;
  }
  
  .lead {
    font-size: 18px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    p {
      font-size: 16px;
    }
  }
  